.confirmationBanner {
	box-sizing:border-box;
	height:60px;
	background:#F7B267;
	margin:0px;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	text-align:center;
	font-size:30px;
	font-weight:900;
	line-height:1;
	padding:13px;
	box-shadow:0px 1px 3px rgba(0,0,0,.1);
	z-index:5;
	animation-name: confirmation;
	animation-duration: 3s;
	animation-delay:.2s;
	color:white;
}

@keyframes confirmation {
	0%	{top:0px;}
	20%	{top:65px;}
	80% {top:65px;}
	100% {top:0px;}
}