.confirmation {
	box-sizing:border-box;
	position:relative;
	border:1px solid #dce6f7;
	border-radius:5px;
	width:calc(100% - 20px);
	margin:10px 10px 0px 10px;
	background: #fdfeff;
	padding-bottom:15px;
	text-align:center;
}
.confirmation h1 {
	text-align:center;
	color:#1a1a66;
	display:inline-block;
	padding:4px;
	border-bottom:2px solid #1a1a66;
}
.confirmation img {
	width:70%;
	margin:5px 15%;
}
.confirmation .instructions {
	width:80%;
	margin:5px 10%;
	font-size:16pt;
	text-align:left;
}
.confirmation .saved {
	text-align:center;
	font-size:10pt;
	font-style:italic;
	padding:6px 0px 0px 0px;
	color:#331313;
}

.button {
	background:#d6b327; /* Using color "Rajah" as base idea #F7B267 */
	width:200px;
	margin: 15px auto;
	text-align:center;
	color:white;
	border-radius:3px;
	font-size:14pt;
	font-weight:800;
	padding:10px;
	cursor:pointer;
	box-shadow:0px 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	background:#e5c029;
	box-shadow:0px 1px 3px rgba(0,0,0,.3);
}
.cancel {
	background:#cc4b4b;
}
.cancel:hover {
	background:#d95050;
}
.seereservation {
	margin:20px 0px 40px 0px;
	overflow:auto;
	padding:15px 25px;
	position:relative;
}
.seereservation span.expander {
	position:absolute;
	top:13px;
	left:35px;
	background:#fdfeff;
	padding:0px 5px;
	cursor:pointer;
}
.seereservation div {
	overflow:hidden;
	box-sizing:border-box;
	-webkit-transition: height .3s; /* Safari */
	transition: height .3s;
}
.seereservation table {
	margin:30px 0px;
}
.seereservation td {
	vertical-align:text-top;
	padding:5px 1px;
}
.seereservation td:nth-child(odd) {
	text-align:right;
	padding: 0px 10px;
	width:55%;
}
.description {
	font-style:italic;
	padding:3px 25px;
	display:inline-block;
	color:#331313;
}
div.viewing {
	height:auto;
}
div.hidden {
	height:0px;
}
.helperbuttons {
	text-align:center;
}
.helperbuttons .react-add-to-calendar {
	color:black;
	display:inline-block;
	margin:10px;
}
.helperbuttons .react-add-to-calendar__wrapper {
	border:1px solid rgba(0,0,0,.3);
	padding:8px;
	border-radius:2px;
	box-shadow:0px 1px 2px rgba(0,0,0,.1);
}
.helperbuttons .react-add-to-calendar__dropdown {
	border:1px solid rgba(0,0,0,.4);
	box-shadow:0px 1px 3px rgba(0,0,0,.2);
	margin-top:-3px;
	background:white;
}
.helperbuttons .react-add-to-calendar__dropdown ul {
	padding:0px;
	margin:4px;
}
.helperbuttons .react-add-to-calendar__dropdown li {
	list-style:none;
	padding:3px;
}
.helperbuttons .react-add-to-calendar__dropdown li a {
	text-decoration:none;
	color:black;
}
.helperbuttons .react-add-to-calendar__dropdown li a:hover {
	text-decoration:none;
	color:black;
	background:#ddd;
}
.helperbuttons .getdirections {
	color:black;
	display:inline-block;
	margin:10px;
	border:1px solid rgba(0,0,0,.3);
	padding:8px;
	border-radius:2px;
	box-shadow:0px 1px 2px rgba(0,0,0,.1);
	text-decoration:none;
}